@charset "UTF-8";
/* CSS Document 
MIU Project 3 Gold
Joshua Wisecup
Term 1302 
*/
.ui-title {
	margin: .2em 30% .4em!important;	
}
.header h1 {
	font-size: 29px!important;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}
.header h1 a, .header h1 a:hover {
	color: white;
	text-decoration: none;
}
.addItem {
	margin-top: 50px;
}

.ui-grid {
	margin: 0 0 0 -13px;	
	position: relative;
}
.imgBlock {
text-align:left
}

.imgBlock .imgAlign {
	margin-left:-6px;
}

.imgBlock .ui-btn-inner {
	font-size: 11px;
	white-space:normal;
	min-height:100px;
}

.carousel-caption h1 {
	font-size: 22px;
	color: white;
	text-shadow: 0 1px 0 #000;
}
.carousel .item {
	height: 100px;
}
.carousel img {
	height: 100px;
}
.carousel-caption {
	width: 70%;
	padding: 2px 40px;
	margin: 2px auto;
	height: 98px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background: #333333;
	background: rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.itemButton {
	margin: -9px 0 0 -9px;	
}
